doctype html
html
    head
      meta(charset='utf-8')
      title tgdb.io
      link(rel="shortcut icon", href="img/favicon.png", type="image/png")
      link(rel="icon", href="img/favicon.png", type="image/png")
      link(rel="stylesheet",type="text/css", href="css/tgdbio.css", media="all")
      //- script(src="js/tgdbio.js", type="text/javascript")
    body

      .wrap
        .header
          h1 
            small the
            | code &amp; visual
            small guy
          p frontend engineer with a crush on motion graphics, 3D, vfx, typography and data visualization [...]

      .main
        ul
          li: a(href="https://github.com/tbasse", target="_blank") github
          li: a(href="http://forrst.me/tagedieb", target="_blank") forrst
          li: a(href="https://www.xing.com/profile/Thorsten_Basse", target="_blank") xing
          li: a(href="http://twitter.com/tgdb77", target="_blank") twitter
          li: a(href="mailto:hello@tgdb.io") email
